!!!
%html
  %head
    %title TTI VAA
    = stylesheet_link_tag    'default/application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'grid'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .sidebar= render 'default/shared/navigation'
    .content= yield
    .footer footer
